#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  --border-color: black;
  --background-color: #ebebeb;

  @media (prefers-color-scheme: dark) {
    --background-color: #2c2b32;
    --border-color: #999;
  }
}

html {
  @media (prefers-color-scheme: dark) {
    background-color: #1c1b22;
  }
}

h1 {
  text-align: left;
}

.app {
  width: 85%;
  max-width: 600px;
  margin: 0 auto;
}

.card {
  margin-top: 1rem;
  border: 3px solid var(--border-color);
  border-radius: 12px;
  padding: 0.3rem;
}

.card-content {
  width: 100%;
  border-radius: 12px;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  background-color: var(--background-color);
}

.card-content h2 {
  font-size: 2rem;
}

.card-content p {
  font-size: 1.2rem;
  width: 85%;
}

.card-controls {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--background-color);
  border-radius: 12px;
  padding: 0.5rem;
  & > * {
    flex: 1;
  }
  & > :first-child {
    text-align: left;
  }
  & > :last-child {
    text-align: right;
  }
}

button {
  border: none;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: inherit;
  background-color: inherit;
  cursor: pointer;
  transition: background-color 0.25s
}

.card-controls-flip {
  font-weight: 600;
}
